/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../scss/main2.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../scss/main2.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, ../scss/main2.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, ../scss/main2.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 46, ../scss/main2.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 59, ../scss/main2.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 67, ../scss/main2.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 77, ../scss/main2.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 85, ../scss/main2.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 96, ../scss/main2.scss */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 103, ../scss/main2.scss */
header, #main, footer {
  width: 100%;
}

/* line 107, ../scss/main2.scss */
.wrapper {
  position: relative;
  width: 60em;
  margin: 0 auto;
}

/* line 117, ../scss/main2.scss */
header {
  position: relative;
  z-index: 10;
  background-color: #dee1e8;
  border-top: 2px solid #006991;
  border-bottom: 3px solid #d2d6e0;
}
/* line 124, ../scss/main2.scss */
header nav {
  float: right;
  font-family: "Economica",Tahoma,Verdana,Segoe,sans-serif;
  font-size: .9375em;
  padding-top: 1em;
}
/* line 130, ../scss/main2.scss */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 135, ../scss/main2.scss */
header nav ul li {
  float: left;
  margin-right: 40px;
}
/* line 139, ../scss/main2.scss */
header nav ul li a {
  color: #4d4d4d;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
/* line 145, ../scss/main2.scss */
header nav ul li a:hover {
  color: #006991;
  text-shadow: 0 1px 0 white;
}

/* line 155, ../scss/main2.scss */
header {
  -webkit-box-shadow: 0 3px 2px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
}

/* line 160, ../scss/main2.scss */
.logo {
  height: 3em;
  overflow: hidden;
  float: left;
}
/* line 165, ../scss/main2.scss */
.logo img {
  display: inline;
  height: 4em;
  margin-top: -0.5625em;
  margin-right: 0.25em;
}
/* line 172, ../scss/main2.scss */
.logo h1 {
  display: inline;
}

/* line 177, ../scss/main2.scss */
h1 {
  font-family: "Economica",Tahoma,Verdana,Segoe,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25em;
  color: #006991;
  text-shadow: 0 1px 0 white;
}

/* line 187, ../scss/main2.scss */
#main {
  background-image: url(/i/billie_holiday.jpg);
  padding-top: 1em;
}

/* line 192, ../scss/main2.scss */
#fotos {
  position: relative;
  z-index: 1;
  width: 60em;
  height: 15.625em;
  margin: 0 auto 1.5em;
  border: 2px solid #edf0f3;
}
/* line 200, ../scss/main2.scss */
#fotos img {
  max-width: 100%;
  position: relative;
  top: -2.5em;
}

/* line 207, ../scss/main2.scss */
#fotos {
  -webkit-box-shadow: 4px 0 6px rgba(0, 0, 0, 0.15), -4px 0 6px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.15), -4px 0 6px rgba(0, 0, 0, 0.15);
}

/* line 212, ../scss/main2.scss */
.langs {
  margin-right: 0;
}
/* line 215, ../scss/main2.scss */
.langs span, .langs a {
  float: left;
  display: block;
}
/* line 220, ../scss/main2.scss */
.langs span {
  margin: 0 0.5em;
}
/* line 224, ../scss/main2.scss */
.langs a {
  width: 1.6em;
  height: 1.6em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: center;
  background-repeat: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.60;
}
/* line 236, ../scss/main2.scss */
.langs a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 242, ../scss/main2.scss */
.langs a[href="/pt/"] {
  background-image: url(/i/br.png);
}
/* line 246, ../scss/main2.scss */
.langs a[href="/en/"] {
  background-image: url(/i/us.png);
}
/* line 250, ../scss/main2.scss */
.langs a[href="/es/"] {
  background-image: url(/i/es.png);
}

/* line 256, ../scss/main2.scss */
.mask {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  white-space: nowrap;
}
/* line 263, ../scss/main2.scss */
.mask > img {
  display: inline;
}
/* line 267, ../scss/main2.scss */
.mask .frase * {
  white-space: normal;
}

/* line 272, ../scss/main2.scss */
.button {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 2.9375em;
}

/* line 278, ../scss/main2.scss */
.spr-left {
  left: 0;
}

/* line 281, ../scss/main2.scss */
.spr-right {
  right: 0;
}

/* line 284, ../scss/main2.scss */
.spr-sprite, .spr-left, .spr-right {
  background: url("/i/spr-se43f668416.png") no-repeat;
}

/* line 288, ../scss/main2.scss */
#frases {
  width: 53.75em;
  margin: 0 auto;
  outline: 1px solid black;
}

/* line 294, ../scss/main2.scss */
.frase {
  width: 33.33333%;
  padding: 0 0.95em;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 302, ../scss/main2.scss */
.frase h2 {
  font-family: "Economica",Tahoma,Verdana,Segoe,sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #006991;
  text-shadow: 0 1px 0 #f7f7f7;
  font-size: 1.5625em;
  line-height: 1.08em;
  text-transform: uppercase;
  height: 50px;
  margin: 0;
}
/* line 315, ../scss/main2.scss */
.frase p {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: .75em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.66667em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 345, ../scss/main2.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 353, ../scss/main2.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 364, ../scss/main2.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 373, ../scss/main2.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 390, ../scss/main2.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 403, ../scss/main2.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 420, ../scss/main2.scss */
.clearfix:before, header:before, header ul:before,
.clearfix:after,
header:after,
header ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 425, ../scss/main2.scss */
.clearfix:after, header:after, header ul:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 434, ../scss/main2.scss */
.clearfix, header, header ul {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 461, ../scss/main2.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 469, ../scss/main2.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 473, ../scss/main2.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 477, ../scss/main2.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 487, ../scss/main2.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 492, ../scss/main2.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 497, ../scss/main2.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 502, ../scss/main2.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 506, ../scss/main2.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 516, ../scss/main2.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 522, ../scss/main2.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
