@charset "utf-8";
/* CSS Document */

body {
	background-image: url(/i/bg.jpg);
	background-repeat: repeat;
}

header, #main, .wrapper {
	display:block;
	width: 56em;
	margin: 0 auto;
}

.inline, .inline > *, #fotos img {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

ul.inline, nav.inline, ol.inline {
	margin: 0;
	padding: 0;
}
.inline > li {
	list-style: none;
}

header {
	font-family: 'Economica', Tahoma, Geneva, sans-serif;
	padding: 0.3125em 0;
}
#logo {
	width: 6.5em;
	vertical-align: middle;
	margin-top: -1em;
}
header > figure {
	margin-right: 7.4em;
}

header a {
	color: #777777;
	font-size: 0.875em;
	text-transform:uppercase;
}
header a:hover {
	color: #006991;
}

nav > ul > li {
	margin-right: 3.4em;
}
#idiomas {
	vertical-align: -0.25em;
}
#idiomas li {
	margin-right: 1.3em;
}
#idiomas a {
	display: block;
	width: 1.5em;
}
#idomas a > figure, figure img {
	width: 100%;
}
#idiomas figcaption {
	display: none;
}

#fotos {
	width: 55.25em;
	height: 17.5em;
	background-color: rgb(240,240,240); /*APAGAR*/
	border: 1px solid white;
}

#frases > article, #contato {
	width: 10.4375em;
	float: left;
	margin: 1.375em 1.59375em;
}

#frases > article.larger {
	width: 17.625em;
}

#frases > hr {
	width: 37.6875em;
	height: 1px;
	margin: 0 1.59375em;
	color: #CCCCCC;
	background-color:#CCCCCC;
	border: none;
}

article p, footer span, input, textarea {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.6875em;
	font-weight: normal;
	font-style: normal;
	color: #777777;
}
article p {
	line-height: 1.4em;
}
#frases > article.first{
	margin-bottom: 7em;
}

footer {
	border-top: 2px solid #d2d6e0;
	background-color: #FAFAFA;
	padding: 1.5em 0;
	background-color: #edf0f3;
}

footer span {
	display: inline;
	line-height: 0.9em;
}

#localizacao {
	width: 40em;
	float: left;
	margin: 1.375em 0;
	padding-left: 1.375em;
}

.vcard {
	width: 12em;
	float: left;
	margin: 0 0.7em 0.6875em 0;
}

div > .org {
	display: none
}

.last {
	margin-right: 0;
}

#contato > h3 {
	margin-bottom: 1em;
}
input, textarea {
	width: 110%;
	background-color: #FDFDFD;
	border: 1px solid #F7F7F7;
	margin-bottom: 1em;
	padding: 1em 0.5em;
}
input:focus, textarea:focus {
	outline: 1px solid white;
	background-color: #F8F8FF;	
}
input[type="submit"] {
	background-color: #777777;
	color: #FDFDFD;
	padding-top:0;	
}
input[type="submit"]:active {
	background-color: #FDFDFD;
	color: #777777;
	padding: 0.5em;	
}
input {
	height: 3em;
}
textarea {
	height: 15em;
	line-height:1.5em;
}

#fotos {
	overflow: hidden;
	position: relative;
}
#fotos .mask {
	position: absolute;
	top:0; left:0;
	width: 500%;
	white-space: nowrap;
}
#fotos img {
	width: 20%;
}

.mask {
	-webkit-animation: carrossel 30s infinite;
	-o-animation: carrossel 30s infinite;
	animation: carrossel 30s infinite;
}

@keyframes "carrossel" {
 0% {left: 0;}
 15% {left: 0;}
 
 20% {left: -100%;}
 35% {left: -100%;}
 
 40% {left: -200%;}
 55% {left: -200%;}
 
 60% {left: -300%;}
 75% {left: -300%;}
 
 80% {left: -400%;}
 95% {left: -400%;}
 
 100% {left: -500%;}
}

@-moz-keyframes carrossel {
 0% {left: 0;}
 15% {left: 0;}
 
 20% {left: -100%;}
 35% {left: -100%;}
 
 40% {left: -200%;}
 55% {left: -200%;}
 
 60% {left: -300%;}
 75% {left: -300%;}
 
 80% {left: -400%;}
 95% {left: -400%;}
 
 100% {left: -500%;}
}

@-webkit-keyframes "carrossel" {
 0% {left: 0;}
 15% {left: 0;}
 
 20% {left: -100%;}
 35% {left: -100%;}
 
 40% {left: -200%;}
 55% {left: -200%;}
 
 60% {left: -300%;}
 75% {left: -300%;}
 
 80% {left: -400%;}
 95% {left: -400%;}
 
 100% {left: -500%;}
}

@-ms-keyframes "carrossel" {
 0% {left: 0;}
 15% {left: 0;}
 
 20% {left: -100%;}
 35% {left: -100%;}
 
 40% {left: -200%;}
 55% {left: -200%;}
 
 60% {left: -300%;}
 75% {left: -300%;}
 
 80% {left: -400%;}
 95% {left: -400%;}
 
 100% {left: -500%;}
}

@-o-keyframes "carrossel" {
 0% {left: 0;}
 15% {left: 0;}
 
 20% {left: -100%;}
 35% {left: -100%;}
 
 40% {left: -200%;}
 55% {left: -200%;}
 
 60% {left: -300%;}
 75% {left: -300%;}
 
 80% {left: -400%;}
 95% {left: -400%;}
 
 100% {left: -500%;}
}




@media all and (max-width: 1240px) and (min-width: 1025px) {
	body{
		font-size: 110%;
	}
}
@media all and (max-width: 1440px) and (min-width: 1241px) {
	body{
		font-size: 120%;
	}
}
@media all and (min-width: 1441px) {
	body{
		font-size: 130%;
	}
}